@media (max-width: 768px) {
  .lftMenu {
    width: 100% !important;
    height: auto !important;
  }
  .wel-cm-bc h4 {
    margin-top: 0;
  }
  .logo-tag {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .min-pos-ab {
    position: absolute;
  }
}

@media (min-width: 1401px) {
  .w1400-20 {
    width: 20% !important;
  }
  .read-cert {
    width: 75%;
  }
}
