@media (min-width: 375px) and (max-width: 576px) { 
  .lftsdbr {
    top: 50px;
    height: 95vh !important;
    width:  258px !important;
    padding: 15px 24px ;
  }
  .hori-image{
    display: none;
  }
  .horizontal-card{  
    width: 100%; 
    background: #FFFFFF;
    box-shadow: 0px 79.2714px 79.2714px rgba(0, 0, 0, 0.1);
    border-radius: 25.3668px;
    height: auto;
  }
  .horizontal-card:hover{
    border-radius: 15px;
    border:2px solid dodgerblue;
  }
  .skill-profile{
    width: 478px;
    height: 84px;
    left: 18px;
    top: 160px;
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;    
    color: #003866;
  }
  .sub-progress{
    display: none !important;
  }
  .search-box{
    width: 384px !important;
    height: 60px !important;
    border: 1px solid #8D9591;
    box-sizing: border-box;
    border-radius: 16px;
    margin:10px;
  }
 
  .searchrole img {
    width: 30px;
    left: 8.25%;
    right: 8.37%;
    top: 8.25%;
    bottom: 8.43%;
  }
  .search-input{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 40px !important;    
    color: #ADB3AF;

  }
  .sub-filter{
    display: none !important;
  }
  .sub-class{
    width: 193px;
    height: 72px;
  }
  .billing-details-card{
    width: 385px !important;
    height: 151px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-size: large;
  }
  .billing-details-text{
    width: 193px;
    height: 72px;   
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 48px !important;
    line-height: 72px;
    color: #298EE0;
  }
  .billing-details-buy{
    width: 420px;
  }
  .search-box-right{
    display: none !important;
  }
  .sub-header{
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 35px !important;
  }
  .role-tit{
    font-family: 'f3';
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
  }
  .searchrole{
    left: 4.25%;
    right: 4.37%;
    top: 8.25%;
    width:25px;
    width:25px;
    bottom:4.43%;
  }
  .searchrole .search-input{
    font-size: 30px;
    padding-left: 50px !important;
   
  }
  .submit-btn{
    width: 336px;
    height: 62px;
    border-radius: 12px !important;
    font-family: 'f3';
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
  }
  .reset-password{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
  }
  .signup-header{   
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #0B171B;
  }
  .terms-cond-text{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 110%;
  }
  .login-p{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
  }
  .forget-p{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;    
  }
  .onboard-btn{
    width: 158px !important;
    height: 70px !important;
  }
  .top-stud-proof{
    width: 220px !important;
    height: 220px !important;
  }
  .stud-prof .form-check-input {
    border-radius: 9px;
    width: 215px !important;
    height: 220px !important;
    margin: 0 !important;
    background: none !important;
  }
  .test-search-box{
    display: none;
  }
  .billing-search-box{
    display: none;
  }
  .test-select{
    width: 200px;
  }
  .report-h5{
    margin:35px !important;
  }
  .onboarding-title{
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 26px !important;
    color:#0B171B;
  }
  .login-sub-header{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    letter-spacing: -0.02em;
    color: #638995;
  }
  .login-header{
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
  }
  
  .inputField{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 17px !important;
  }
  .forget-header{
    font-family: 'f1';
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
  }
  .min-pos-ab {
    position: absolute;
  }
  .read-cert {
    width: 250px !important;
  }
  .lft-skl-bldg {
    width: 100% !important;
    height: auto !important;
  }
  .prog-bar-subs .progress {
    width: 96px;
  }
  .cls-fre h4 {
    font-family: "f1";
    font-size: 12px;
    margin-bottom: 0;
  }
  .cls-fre h2 {
    margin-bottom: 0;
  }
  .billing_back {
    width: 92px !important;
  }
  .rec-aud-tag {
    width: 90% !important;
  }
  .rec-box .rec-ply-icon {
    margin-right: 7px !important;
  }
  .profile-cardbutton{
    width: 123px;
    height: 42px;
 

    background: #298EE0;
    border-radius: 12px;
  }
  .profile-cardbutton-change{
    width: 174px;
    height: 42px;
    background: #298EE0;
    border-radius: 12px;    
  }

}

@media (max-width: 767px) {
  .rt-tb-report {
    margin-top: 64px;
  }
  .wel-cm-bc {
    width: 100% !important;
  }
  .logo-tag {
    margin-bottom: 15px;
  }
  .row-table {
    overflow-y: scroll;
  }
  .table-name {
    width: 730px !important;
  }
  .bill-rit {
    padding: 0 10px !important;
  }
  .lftqst {
    top: 50px;
    position: fixed;
    height: 95vh !important;
  }
  .lftqst .logo {
    display: none !important;
  }
  .lftqst .logo-tag {
    display: none !important;
  }
  .lftsdbr {
    top: 50px;
    position: fixed;
    height: 95vh !important;
    width:  288px !important;
  }
  .lftsdbr .logo {
    display: none !important;
  }
  .lftsdbr .logo-tag {
    display: none !important;
  }
  .non-md {
    left: -350px;
  }
  .test-main {
    height: 100vh;
    margin: 75px auto 0;
  }
  .vid-frame iframe {
    height: 250px;
  }
  .navbar {
    z-index: 111;
  }
  .lftMenu {
    z-index: 111;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
  }
  .read-cert {
    width: 305px;
  }
  .student-prof .card {
    margin: 10px auto !important;
  }
  .billing-add {
    width: 100%;
  }
  .cls-fre h2 {
    font-size: 19px !important;
  }
  .cls-fre h4 {
    font-size: 13px !important;
  }
  .billing_back {
    display: none;
  }
  .lft-skl-bldg {
    width: 100% !important;
    height: auto !important;
  }
  .rit-tst .tab-content {
    overflow-x: scroll;
  }
  .tit-cert-box .table,
  .txt-tbl-acrd {
    width: 1000px;
  }
  .tit-cert-box th {
    width: 200px !important;
  }
  .tit-cert-box td {
    width: 200px !important;
  }
  .tbl-bx-rpt {
    width: 99%;
    overflow-x: scroll;
  }
  .table-box {
    width: 980px;
  }
  .tl-rt-qst {
    margin-top: 50px;
    height: auto !important;
    overflow: auto !important;
  }
  .student-prof {
    display: inherit !important;
  }
  .rec-aud-tag {
    width: 92%;
  }
  .hori-image{
    display: none;
  }
}
@media (max-width: 992px) {
  .skl-rpt-bx-tb {
    width: 100%;
    overflow-x: scroll;
  }
  .rec-box {
    padding: 8px 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    width: 170px;
  }
  .bill-rit {
    padding: 15px !important;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
  }
  .row-table {
    width: 560px !important;
    overflow-x: scroll;
  }
  .table-name {
    width: 730px !important;
  }
  .billing-add {
    width: 100% !important;
  }
  .test-main .bill-rit {
    width: 70% !important;
  }
  .read-cert {
    width: 305px !important;
  }
  .onboarding-button {
    width: 400px !important;
  }
  .student-prof .card {
    margin: 10px auto !important;
  }
  .lft-skl-bldg {
    height: auto !important;
  }
  .rit-tst .tab-content {
    overflow-x: scroll;
  }
  .tit-cert-box .table,
  .txt-tbl-acrd {
    width: 1000px;
  }
  .tit-cert-box th {
    width: 200px !important;
  }
  .tit-cert-box td {
    width: 200px !important;
  }
  .tbl-bx-rpt {
    width: 99%;
    overflow-x: scroll;
  }
  .table-box {
    width: 980px;
  }
  .cls-fre h2 {
    font-size: 15px !important;
  }
  .cls-fre h4 {
    font-size: 12px !important;
  }
  .rec-aud-tag {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .bill-rit {
    width: 76% !important;
    margin: 0 auto;
    padding: 15px !important;
  }
  .tl-skl-bldg {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tit-cert-box {
    overflow-x: scroll;
  }
  .tit-cert-box .table,
  .txt-tbl-acrd {
    width: 1000px;
  }
  .tit-cert-box th {
    width: 200px !important;
  }
  .tit-cert-box td {
    width: 200px !important;
  }
  .tbl-bx-rpt {
    width: 100%;
    overflow-x: scroll;
  }
  .table-box {
    width: 980px;
  }
  .testIntro {
    display: grid !important;
  }
  .rec-aud-tag {
    width: 95%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .tit-cert-box th {
    width: 180px !important;
  }
  .tit-cert-box td {
    width: 180px !important;
  }
  .rec-aud-tag {
    width: 95.5%;
  }
}

@media (min-width: 1200px) {
  .bill-rit {
    width: 80% !important;
    margin: 0 auto;
  }
  .testIntro {
    display: grid !important;
  }
}

@media (min-width: 1401px) {
  .w1400-20 {
    width: 20% !important;
  }
  .tit-cert-box th {
    width: 250px !important;
  }
  .tit-cert-box td {
    width: 250px !important;
  }
  .in-rt-qst {
    padding: 10%;
  }
  .qus-tl-box {
    margin-top: 55px;
  }
  .tl-rt-qst {
    width: 70%;
  }
  .bar-chart {
    width: 500px;
    height: 400px;
  }
  .read-cert {
    width: 75%;
  }
  .testIntro {
    display: grid !important;
  }
  .rec-aud-tag {
    width: 95%;
  }
  .textrec {
    padding: 0 6rem !important;
  }
}

/** height-start **/

/** height-end **/
