@media (max-width: 576px) {
  .wel-cm-bc {
    width: 100% !important;
  }
  .min-pos-ab {
    position: absolute;
  }
}

@media (max-width: 767px) {
  .wel-cm-bc {
    width: 50% !important;
  }
  .navbar {
    margin: 0 auto 0 0 !important;
    display: block !important;
  }
  .menu-back {
    background-color: #f1f1f1;
    padding: 15px !important;
  }
  .wel-cm-bc h4 {
    margin-top: 0;
  }
  .logo-tag {
    margin-bottom: 15px;
  }
  .row-table {
    overflow-y: scroll;
  }
  .table-name {
    width: 730px !important;
  }
  .bill-rit {
    padding: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    width: 170px;
  }
  .bill-rit {
    padding: 15px !important;
    margin: 0 auto;
  }
  .lftMenu {
    width: 190px !important;
  }
  .row-table {
    width: 560px;
    overflow-y: scroll;
  }
  .table-name {
    width: 730px !important;
  }
  .billing-add {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .bill-rit {
    width: 76% !important;
    margin: 0 auto;
    padding: 15px !important;
  }
  .table-name {
    width: 860px;
  }
  .lftMenu {
    width: 220px !important;
  }
}

@media (min-width: 1200px) {
  .w1400-20 {
    width: 20% !important;
  }
  .bill-rit {
    width: 80% !important;
    margin: 0 auto;
  }
}

@media (min-width: 1401px) {
  .w1400-20 {
    width: 20% !important;
  }
  .bill-rit {
    width: 85% !important;
    margin: 0 auto;
  }
}
