
@font-face {
    font-family: "f1";
    src: url("../../../assets/fonts/Poppins/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: "f2";
    src: url("../../../assets/fonts/Poppins/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-family: "f3";
    src: url("../../../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  }

.tl-bdy {
    display: grid;
    height: 100vh;
  }
 
  .wrapper{
      position: relative;
  }
  .header-esr{     
    top: 50px;
    padding: 10px 16px;    
    font-size: 20px;
    width: 67px;
    height: 30px;
    color: white;   
    left: 160px;
    top: 48px;
     padding: 7px 13px;
    background: #4DD188;
    border-radius:50px;
}
  h3{   
    color: #003866;
    font-family: "f1";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
  }
  p{    
    color: #8FB2BE;
    font-style: normal;
    font-weight: 500; 
    font-size: 18px;
    margin-bottom: 550px;
  }
  .previous-button{
    background: #40A9FF;
    border: 0 !important;
    width: 100%;
    margin: auto;   
  }
.audiorecord-card{
    width: 75%;
    height: 20%;
}
.microphone{
   position: static;
    width: 55px;
    height: 55px;
    left: 0px;
    top: 20px;
    background: #298EE0;
    border-radius: 50px;
    text-align: center;   
    font-size: 30px;
    color:white;   
}
.microphone-time{  
    width: 110px;  
    font-family: 'f3';
    font-style: normal;
    font-weight: 600;
    margin-top:10px;
    font-size: 22px;
    line-height: 48px;
    color: #0B171B;

}
.vl{
    display: inline-block;
    align-self: stretch;
    width: 2px;
    min-height: 1em;
    background-color: black;
    opacity: 1.0;
    height: 50px;
    margin-top: 10px;
}
.microphone-text{
    margin-top: 15px;
    font-family: 'f3';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #0B171B;
}
.playbutton{
    width: 2rem;
    height: 2rem;
}
.previous-button {  
    top:650px;
    background: #40a9ff !important;
    border: 0 !important;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
  }
  .next-button{
    background: #4DD188 !important;
    border: 0 !important;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px;
  }  
  .next-button-audiolisten{
    background: #4DD188 !important;
    border: 0 !important;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px;
    margin-left:350px;
  }
  .header-esr{
    width: 65px;
    height: 40px;
    padding: 7px 13px;
    background: #4DD188;
    border-radius:50px;
    align-items: center;
    color: white;
  }
  .title-card{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #0B171B;
  }

  /* ---------- */
  .question{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:#0B171B;
  }
  .header-lct{     
    top: 50px;
    padding: 10px 16px;    
    font-size: 18px;
    width: 97px;
    height: 30px;
    color: white;   
    left: 160px;
    margin-top: 9px;   
    padding: 6px 13px;
    background: #4DD188;
    border-radius:50px;
}
.audio-text{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #8FB2BE;
}
.title-card-option{
    font-family: 'f3';
    font-style: normal;
    font-weight: 500;
    font-size: 33.3529px;
    padding: 7px 13px;
}